@charset "utf-8";
h1 {
    text-indent: 1em;
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    border-style: solid;
    border-width: 5px;
    width: 1100px;
    margin: 200px 430px;
 }

 nav.Home
 {
     
     text-align: center;
     font-size: 50px;
     font-family: 'Courier New', Courier, monospace;
     border-style: solid;
     border-width: 5px;
     width: 241px;
     margin: 150px 850px;
 }
 
 nav.Home a:visited, nav.Home a:link{
     color: black;
     text-decoration: none;
 }
 
 nav.Home a:hover, nav.Home a:active{
     
     background-color: black;
     color: white;
 }